/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "materialize/components/color-variables";
$primary-color: color("teal", "lighten-2") !default;
$secondary-color: color("teal", "base") !default;
@import 'materialize';
@import  "https://fonts.googleapis.com/icon?family=Material+Icons" ;

 a {
   text-decoration: none !important;
 }
 .button_m{
  padding-right: 36px;
 }
 .mt{
   margin-top: 20px !important;
   margin-bottom: 20px !important;
 }

 .btn-floating.btn-large i {
  line-height: 40px;
}

.btn-floating.btn-large {
  width: 40px;
  height: 40px;
  padding: 0;
}

 .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}


 a:hover{
   color: rgb(231, 225, 225);
 }

.width_field{
  width: max-content;
  margin: auto;
  margin-top: 130px;
}

.text-bold{
  font-weight: bold;
}


.mr{
  margin-right: 10px;

}
.width_field_left{
  width: max-content;
  
}
.page-footer{
  margin-top: 150px;
}
.d-content{
  display: contents;
}
.d-table{
  display: table;
}

fieldset{
  border: none !important;
}

.field_center{
  display: contents;
}

.msg {
  width:100%;
  border: 1px solid;
  padding:10px;
  margin: 20px;
  color: grey;
  border-radius: 5px;
}


.msg-info{
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}